#navbar-wrapper {
	display: flex;
	flex-direction: row;
	place-items: center;
	place-content: space-between;
	width: 100%;
	padding: 7px 100px;
	background-color: white;
	box-sizing: border-box;
}

#navbar-wrapper > ul {
	display: flex;
	flex-direction: row;
	gap: 66px;
}

#navbar-wrapper > ul > li {
	list-style: none;
}
