#root {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	min-height: 100vh;
}

#root > img {
	position: absolute;
	width: 100%;
	z-index: -1;
}

#tour-button {
	place-self: center;
	margin-top: 254px;
}

.fullWidth {
	width: 2000px;
}
